<section>
  <h2>Create a new list</h2>

  <%= form_with model: @list, class: "form-container" do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :photo %>
    <%= form.file_field :photo %>
    <%= form.submit %>
  <% end %>


</section>
