<section>
  <h2>List : <%= @list.name %> </h2>
  <div class="show-top-container">
    <%= cl_image_tag @list.photo.key, width: 200, height: 150 if @list.photo.attached? %>
    <%= link_to 'add a bookmark', new_list_bookmark_path(@list) %>
  </div>
  <% @bookmarks.each_with_index do |item, index| %>
    <article class="list-card">
      <p><%= index + 1 %></p>
      <div>
        <h3><%= item.movie.title %></h3>
        <p><%= item.comment %></p>
      </div>
      <%= image_tag(item.movie.poster_url, size: "160x200", alt: item.movie.title) %>
      <%= link_to 'delete', bookmark_path(item), data: { "turbo-method": :delete } %>
    </article>
  <% end %>
</section>
