<section>
<h1>Bookmarks#new</h1>
<%= form_with model: [@list, @bookmark] do |form| %>
  <%= form.text_field :comment %>
  <%= form.select :movie_id, @movie_names_and_id %>
  <%= form.submit %>
<% end %>

</section>

<%# <%= simple_form_for [@list, @bookmark] do |form| %>
<%#  <%= form.text_field :comment %>
<%#  <%= form.association :movie %>
<%#  <%= form.submit %>
<%#<% end %>
